<div class="container">
    <section>
        <h2 class="pt-3 text-center">EQUIPOS</h2>
        <div class="row">
            <article class="col-xl-6 col-lg-6 mb-4">
                    <div id="card1" class="card text-center bg-primary text-dark">
                        <img src="../../../assets/image/CochesEquipo/Red_Bull.avif" class="card-img-top" alt="Coche" />
                        <img src="../../../assets/image/LogoEquipos/redBull.avif" class="logo" alt="Logo"/><h4 class="name text-white mt-2" style="font-family: 'Atpinko', Arial, sans-serif;">Red Bull</h4>
                        <div class="card-body">
                            <h4 class="card-text text-white" style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: left;">1</h4>
                            <h4 class="card-text text-white" style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: right; ">155 PTS</h4>
                            <h4 class="card-text text-white" style="font-family: 'Atpinko', Arial, sans-serif; float: left;clear: both;"><img src="../../../assets/image/conductoresPequeños/S.P.avif" class="driver" alt="Sergio Perez"/>Perez</h4>
                            <h4 class="card-text text-white" style="font-family: 'Atpinko', Arial, sans-serif; float: right;" >Verstappen<img src="../../../assets/image/conductoresPequeños/M.V.avif" class="driver" alt="Max Verstappen"/></h4>
                        </div>
                    </div>
            </article>
            <article class="col-xl-6 col-lg-6 mb-4">
                <div id="card1" class="card text-center bg-primary text-dark">
                    <img src="../../../assets/image/CochesEquipo/Ferrari.avif" class="card-img-top" alt="Coche" />
                    <img src="../../../assets/image/LogoEquipos/Ferrari.avif" class="logo" alt="Logo"/><h4 class="name text-white mt-2" style="font-family: 'Atpinko', Arial, sans-serif;">Ferrari</h4>
                    <div class="card-body">
                        <h4 class="card-text text-white" style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: left;">2</h4>
                        <h4 class="card-text text-white" style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: right; ">151 PTS</h4>
                        <h4 class="card-text text-white" style="font-family: 'Atpinko', Arial, sans-serif; float: left;clear: both;"><img src="../../../assets/image/conductoresPequeños/C.L.avif" class="driver" alt="Charles Leclerc"/>Leclerc</h4>
                        <h4 class="card-text text-white" style="font-family: 'Atpinko', Arial, sans-serif; float: right;">Sainz<img src="../../../assets/image/conductoresPequeños/C.S.avif" class="driver" alt="Carlos Sainz"/></h4>
                    </div>
                </div>
        </article>
        </div>
        <div class="row">
            <article class="col-xl-6 col-lg-6 mb-4">
                    <div id="card1" class="card text-center bg-primary text-dark">
                        <img src="../../../assets/image/CochesEquipo/McLaren.avif" class="card-img-top" alt="Coche" />
                        <img src="../../../assets/image/LogoEquipos/McLaren.avif" class="logo" alt="Logo"/><h4 class="name text-white mt-2" style="font-family: 'Atpinko', Arial, sans-serif;">McLaren</h4>
                        <div class="card-body">
                            <h4 class="card-text text-white" style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: left;">3</h4>
                            <h4 class="card-text text-white" style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: right; ">96 PTS</h4>
                            <h4 class="card-text text-white" style="font-family: 'Atpinko', Arial, sans-serif; float: left;clear: both;"><img src="../../../assets/image/conductoresPequeños/L.N.avif" class="driver" alt="Sergio Perez"/>Norris</h4>
                            <h4 class="card-text text-white" style="font-family: 'Atpinko', Arial, sans-serif; float: right;" >Piastri<img src="../../../assets/image/conductoresPequeños/O.P.avif" class="driver" alt="Max Verstappen"/></h4>
                        </div>
                    </div>
            </article>
            <article class="col-xl-6 col-lg-6 mb-4">
                <div id="card1" class="card text-center bg-primary text-dark">
                    <img src="../../../assets/image/CochesEquipo/Mercedes.avif" class="card-img-top" alt="Coche" />
                    <img src="../../../assets/image/LogoEquipos/Mercedes.avif" class="logo" alt="Logo"/><h4 class="name text-white mt-2" style="font-family: 'Atpinko', Arial, sans-serif;">Mercedes</h4>
                    <div class="card-body">
                        <h4 class="card-text text-white" style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: left;">4</h4>
                        <h4 class="card-text text-white" style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: right; ">52 PTS</h4>
                        <h4 class="card-text text-white" style="font-family: 'Atpinko', Arial, sans-serif; float: left;clear: both;"><img src="../../../assets/image/conductoresPequeños/L.H.avif" class="driver" alt="Sergio Perez"/>Hamilton</h4>
                        <h4 class="card-text text-white" style="font-family: 'Atpinko', Arial, sans-serif; float: right;">Russell<img src="../../../assets/image/conductoresPequeños/G.R.avif" class="driver" alt="Max Verstappen"/></h4>
                    </div>
                </div>
        </article>
        </div>
        <div class="row">
            <article class="col-xl-6 col-lg-6 mb-4">
                    <div id="card1" class="card text-center bg-primary text-dark">
                        <img src="../../../assets/image/CochesEquipo/Aston_Martin.avif" class="card-img-top" alt="Coche" />
                        <img src="../../../assets/image/LogoEquipos/Aston_Martin.avif" class="logo" alt="Logo"/><h4 class="name text-white mt-2" style="font-family: 'Atpinko', Arial, sans-serif;">Aston Martin</h4>
                        <div class="card-body">
                            <h4 class="card-text text-white" style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: left;">5</h4>
                            <h4 class="card-text text-white" style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: right; ">40 PTS</h4>
                            <h4 class="card-text text-white" style="font-family: 'Atpinko', Arial, sans-serif; float: left;clear: both;"><img src="../../../assets/image/conductoresPequeños/Padre.avif" class="driver" alt="Fernando Alonso"/>Alonso</h4>
                            <h4 class="card-text text-white" style="font-family: 'Atpinko', Arial, sans-serif; float: right;" >Stroll<img src="../../../assets/image/conductoresPequeños/L.S.avif" class="driver" alt="Lance Stroll"/></h4>
                        </div>
                    </div>
            </article>
            <article class="col-xl-6 col-lg-6 mb-4">
                <div id="card1" class="card text-center bg-primary text-dark">
                    <img src="../../../assets/image/CochesEquipo/RB.avif" class="card-img-top" alt="Coche" />
                    <img src="../../../assets/image/LogoEquipos/RB.avif" class="logo" alt="Logo"/><h4 class="name text-white mt-2" style="font-family: 'Atpinko', Arial, sans-serif;">RB</h4>
                    <div class="card-body">
                        <h4 class="card-text text-white" style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: left;">6</h4>
                        <h4 class="card-text text-white" style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: right; ">7 PTS</h4>
                        <h4 class="card-text text-white" style="font-family: 'Atpinko', Arial, sans-serif; float: left;clear: both;"><img src="../../../assets/image/conductoresPequeños/Y.T.avif" class="driver" alt="Yuki tsunoda"/>Tsunoda</h4>
                        <h4 class="card-text text-white" style="font-family: 'Atpinko', Arial, sans-serif; float: right;">Ricciardo<img src="../../../assets/image/conductoresPequeños/D.R.avif" class="driver" alt="Daniel Ricciardo"/></h4>
                    </div>
                </div>
        </article>
        </div>
        <div class="row">
            <article class="col-xl-6 col-lg-6 mb-4">
                    <div id="card1" class="card text-center bg-primary text-dark">
                        <img src="../../../assets/image/CochesEquipo/Haas.avif" class="card-img-top" alt="Coche" />
                        <img src="../../../assets/image/LogoEquipos/Haas.avif" class="logo" alt="Logo"/><h4 class="name text-white mt-2" style="font-family: 'Atpinko', Arial, sans-serif;">Haas</h4>
                        <div class="card-body">
                            <h4 class="card-text text-white" style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: left;">7</h4>
                            <h4 class="card-text text-white" style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: right; ">5 PTS</h4>
                            <h4 class="card-text text-white" style="font-family: 'Atpinko', Arial, sans-serif; float: left;clear: both;"><img src="../../../assets/image/conductoresPequeños/N.H.avif" class="driver" alt="Nico Hulkenberg"/>Hulkenberg</h4>
                            <h4 class="card-text text-white" style="font-family: 'Atpinko', Arial, sans-serif; float: right;" >Magnussen<img src="../../../assets/image/conductoresPequeños/K.M.avif" class="driver" alt="Kevin Magnussen"/></h4>
                        </div>
                    </div>
            </article>
            <article class="col-xl-6 col-lg-6 mb-4">
                <div id="card1" class="card text-center bg-primary text-dark">
                    <img src="../../../assets/image/CochesEquipo/Williams.avif" class="card-img-top" alt="Coche" />
                    <img src="../../../assets/image/LogoEquipos/Williams.avif" class="logo" alt="Logo"/><h4 class="name text-white mt-2" style="font-family: 'Atpinko', Arial, sans-serif;">Williams</h4>
                    <div class="card-body">
                        <h4 class="card-text text-white" style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: left;">8</h4>
                        <h4 class="card-text text-white" style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: right; ">0 PTS</h4>
                        <h4 class="card-text text-white" style="font-family: 'Atpinko', Arial, sans-serif; float: left;clear: both;"><img src="../../../assets/image/conductoresPequeños/A.A.avif" class="driver" alt="Alexander Albon"/>Albon</h4>
                        <h4 class="card-text text-white" style="font-family: 'Atpinko', Arial, sans-serif; float: right;">Sargeant<img src="../../../assets/image/conductoresPequeños/Logan.S.avif" class="driver" alt="Logan Sargeant"/></h4>
                    </div>
                </div>
        </article>
        </div>
        <div class="row">
            <article class="col-xl-6 col-lg-6 mb-4">
                    <div id="card1" class="card text-center bg-primary text-dark">
                        <img src="../../../assets/image/CochesEquipo/Alpine.avif" class="card-img-top" alt="Coche" />
                        <img src="../../../assets/image/LogoEquipos/Alpine.avif" class="logo" alt="Logo"/><h4 class="name text-white mt-2" style="font-family: 'Atpinko', Arial, sans-serif;">Alpine</h4>
                        <div class="card-body">
                            <h4 class="card-text text-white" style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: left;">9</h4>
                            <h4 class="card-text text-white" style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: right; ">0 PTS</h4>
                            <h4 class="card-text text-white" style="font-family: 'Atpinko', Arial, sans-serif; float: left;clear: both;"><img src="../../../assets/image/conductoresPequeños/E.C.avif" class="driver" alt="Esteban Ocon"/>Ocon</h4>
                            <h4 class="card-text text-white" style="font-family: 'Atpinko', Arial, sans-serif; float: right;" >Gasly<img src="../../../assets/image/conductoresPequeños/P.G.avif" class="driver" alt="Pierre Gasly"/></h4>
                        </div>
                    </div>
            </article>
            <article class="col-xl-6 col-lg-6 mb-4">
                <div id="card1" class="card text-center bg-primary text-dark">
                    <img src="../../../assets/image/CochesEquipo/Kick_Sauber.avif" class="card-img-top" alt="Coche" />
                    <img src="../../../assets/image/LogoEquipos/Kick_Sauber.avif" class="logo" alt="Logo"/><h4 class="name text-white mt-2" style="font-family: 'Atpinko', Arial, sans-serif;">Kick Sauber</h4>
                    <div class="card-body">
                        <h4 class="card-text text-white" style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: left;">10</h4>
                        <h4 class="card-text text-white" style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: right; ">0 PTS</h4>
                        <h4 class="card-text text-white" style="font-family: 'Atpinko', Arial, sans-serif; float: left;clear: both;"><img src="../../../assets/image/conductoresPequeños/V.B.avif" class="driver" alt="Valtteri Bottas"/>Bottas</h4>
                        <h4 class="card-text text-white" style="font-family: 'Atpinko', Arial, sans-serif; float: right;">Zhou<img src="../../../assets/image/conductoresPequeños/Z.G.avif" class="driver" alt="Zhou Guanyu"/></h4>
                    </div>
                </div>
        </article>
        </div>
    </section>
</div>