<div class="container">
    <section>
        <h2 class="pt-3 text-center">EQUIPOS</h2>
        <div class="row">
            <article class="col-xl-6 col-md-6 col-sm-6 mb-4">
                    <div id="card1" class="card text-center bg-primary text-dark">
                        <img src="../../../assets/image/CochesEquipo/Red_Bull.avif" class="card-img-top" alt="Coche" />
                        <img src="../../../assets/image/LogoEquipos/redBull.avif" class="logo" alt="Logo" />
                        <div class="card-body">
                            <h3 class="card-text text-white" style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: left;">1</h3>
                            <h3 class="card-text text-white" style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: right; ">155 PTS</h3>
                            <h3 class="card-text text-white" style="font-family: 'Atpinko', Arial, sans-serif; float: left;clear: both;"><img src="../../../assets/image/Conductores/S.P.avif" class="driver" alt="Sergio Perez"/>Perez</h3>

                            <h3 class="card-text text-white" style="font-family: 'Atpinko', Arial, sans-serif; float: right;"> Red Bull Verstappen<img src="../../../assets/image/Conductores/M.V.avif" class="driver" alt="Max Verstappen"/></h3>
                            


                            <!-- <h3 class="card-text text-white" style="font-family: 'Atpinko', Arial, sans-serif; float: right;">Perez<img src="../../../assets/image/Conductores/S.P.avif" class="driver" alt="Sergio Perez"/>Verstappen<img src="../../../assets/image/Conductores/M.V.avif" class="driver" alt="Max Verstappen"/></h3> -->


                        </div>
                    </div>
            </article>
        </div>
    </section>
</div>