<div class="container">
    <section>
        <h2 class="pt-3 text-center">EQUIPOS</h2>
        <div class="row">
            @for (team of teams; track $index) {
            <article class="col-xl-6 col-lg-6 mb-4">
                <div id="card1" class="card text-center bg-primary text-dark">
                    <img src="../../../assets/image/CochesEquipo/{{team.equipo}}.avif" class="card-img-top"
                        alt="Coche" />
                    <img src="../../../assets/image/LogoEquipos/{{team.equipo}}.avif" class="logo" alt="Logo" />
                    <h4 class="name text-white mt-2" style="font-family: 'Atpinko', Arial, sans-serif;">{{team.equipo}}
                    </h4>
                    <div class="card-body">
                        <h4 class="card-text text-white"
                            style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: left;">{{$index+1}}</h4>
                        <h4 class="card-text text-white"
                            style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: right; ">{{team.puntos}}</h4>
                        <h4 class="card-text text-white"
                            style="font-family: 'Atpinko', Arial, sans-serif; float: left;clear: both;"><img
                                src="../../../assets/image/conductoresPequeños/{{team.piloto}}.avif" class="driver"
                                alt="{{team.nombrePiloto}}" />{{team.nombrePiloto}}</h4>
                        <h4 class="card-text text-white"
                            style="font-family: 'Atpinko', Arial, sans-serif; float: right;">{{team.nombrePiloto1}}<img
                                src="../../../assets/image/conductoresPequeños/{{team.piloto1}}.avif" class="driver"
                                alt="{{team.nombrePiloto1}}" /></h4>
                    </div>
                </div>
            </article>
            }
        </div>
    </section>
</div>