<footer class="mt-5">
    <div class="container-fluid p-4">
        <div class="row">
            <div class="col-lg-3 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">Politicas</h5>
                <p class="sobre-nosotros">
                    <a href="/politics#cookies">Politicas de cookies</a>
                </p>
                <p>
                    <a href="/politics#privacidad">Politicas de privacidad</a>
                </p>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">MotorVal Network</h5>

                <ul class="list-unstyled mb-0">
                    <li>
                        <p>
                            <a href="https://www.formula1.com/es-es/subscribe-to-f1-tv#products">MotorVal.tv</a>
                        </p>
                        <p>
                            <a href="https://www.dazn.com/es-ES/competition/Competition:1m5x4n07f2kqkiczebja5etiq">MotorVal1.tv</a>
                        </p>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Contacto</h5>

                <ul class="list-unstyled mb-0">
                    <li>
                        <p class="text-white" style="text-decoration: none;">Escribeme: <br>
                            contacto&#64;motorVal.com</p>
                    </li>
                    <li>
                        <p class="text-white" style="text-decoration: none;">Número de Teléfono: <br>
                            <a>684 163 136</a></p>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-0">Redes Sociales</h5>
                <a href="https://www.instagram.com/f1/"><img src="../../../assets/image/rrss/instagram.png"></a>
                <a href="https://www.facebook.com/Formula1/?locale=es_ES"><img src="../../../assets/image/rrss/facebook.png"></a>
                <a href="https://twitter.com/F1"><img src="../../../assets/image/rrss/twitterx.png"></a>
            </div>
        </div>
    </div>

    <div style="text-align: center;">
        <p style="text-decoration: none; color: #C15459;">© 2024 MotorVal Network. Todos los derechos reservados.</p>
    </div>
</footer>