
/* Estilos del Footer */
footer{
    background-color: #e80404;
    padding: 40px;
    color: white;
}

.custom-bg-color {
    background-color: #e80404; 
}

.sobre-nosotros{
    text-align: justify;
}

p{
    color: white;
}

a{
    text-decoration: none;
    color: white;
}