<footer class="mt-5">
    <div class="container-fluid p-4">
        <div class="row">
            <div class="col-lg-3 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">Informacion</h5>
                <p class="sobre-nosotros">
                    <a href="/politics">Politicas de cookies</a>
                    <br>
                    <a href="https://www.floridauniversitaria.es/politica-de-privacidad/">Politicas de privacidad</a>
                </p>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">MotorVal Network</h5>

                <ul class="list-unstyled mb-0">
                    <li>
                        <p class="text-white" style="text-decoration: none;">Escribeme: <br>
                            <a href="https://motorsport.tv">MotorVal.tv</a>
                            <br>
                            <a href="https://motorsport.tv">MotorVal1.tv</a></p>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Contacto</h5>

                <ul class="list-unstyled mb-0">
                    <li>
                        <p class="text-white" style="text-decoration: none;">Escribeme: <br>
                            contacto&#64;motorVal.com</p>
                    </li>
                    <li>
                        <p class="text-white" style="text-decoration: none;">Número de Teléfono: <br>
                            <a>684 163 136</a></p>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-0">Redes Sociales</h5>

                <img src="../../../assets/image/rrss/instagram.png">
                <img src="../../../assets/image/rrss/facebook.png">
            </div>
        </div>
    </div>

    <div style="text-align: center;">
        <p style="text-decoration: none; color: #390101;">© 2024 MotorVal Network. Todos los derechos reservados.</p>
    </div>
</footer>