<div class="container">
    <section>
        <h2 class="pt-3 text-center">CONDUCTORES</h2>
        <div class="row">
            <article class="col-xl-4 col-lg-4 mb-4">
                    <div id="card1" class="card text-center bg-primary text-dark">
                        <img src="../../../assets/image/CochesEquipo/Red_Bull.avif" class="card-img-top" alt="Coche" />
                        <img src="../../../assets/image/LogoEquipos/redBull.avif" class="logo" alt="Logo"/><h4 class=" name text-white" style="font-family: 'Atpinko', Arial, sans-serif;">Red Bull</h4>
                        <div class="card-body">
                            <h4 class="card-text text-white" style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: left;">1</h4>
                            <h4 class="card-text text-white" style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: right; ">155 PTS</h4>
                            <h4 class="card-text text-white" style="font-family: 'Atpinko', Arial, sans-serif; float: left;clear: both;"><img src="../../../assets/image/Conductores/S.P.avif" class="driver" alt="Sergio Perez"/>Perez</h4>
                            <h4 class="card-text text-white" style="font-family: 'Atpinko', Arial, sans-serif; float: right;" >Verstappen<img src="../../../assets/image/Conductores/M.V.avif" class="driver" alt="Max Verstappen"/></h4>
                        </div>
                    </div>
            </article>
            <article class="col-xl-4 col-lg-4 mb-4">
                <div id="card1" class="card text-center bg-primary text-dark">
                    <img src="../../../assets/image/CochesEquipo/Red_Bull.avif" class="card-img-top" alt="Coche" />
                    <img src="../../../assets/image/LogoEquipos/redBull.avif" class="logo" alt="Logo"/><h4 class=" name text-white" style="font-family: 'Atpinko', Arial, sans-serif;">Red Bull</h4>
                    <div class="card-body">
                        <h4 class="card-text text-white" style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: left;">1</h4>
                        <h4 class="card-text text-white" style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: right; ">155 PTS</h4>
                        <h4 class="card-text text-white" style="font-family: 'Atpinko', Arial, sans-serif; float: left;clear: both;"><img src="../../../assets/image/Conductores/S.P.avif" class="driver" alt="Sergio Perez"/>Perez</h4>
                        <h4 class="card-text text-white" style="font-family: 'Atpinko', Arial, sans-serif; float: right;" >Verstappen<img src="../../../assets/image/Conductores/M.V.avif" class="driver" alt="Max Verstappen"/></h4>
                    </div>
                </div>
        </article>
        <article class="col-xl-4 col-lg-4 mb-4">
            <div id="card1" class="card text-center bg-primary text-dark">
                <img src="../../../assets/image/CochesEquipo/Red_Bull.avif" class="card-img-top" alt="Coche" />
                <img src="../../../assets/image/LogoEquipos/redBull.avif" class="logo" alt="Logo"/><h4 class=" name text-white" style="font-family: 'Atpinko', Arial, sans-serif;">Red Bull</h4>
                <div class="card-body">
                    <h4 class="card-text text-white" style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: left;">1</h4>
                    <h4 class="card-text text-white" style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: right; ">155 PTS</h4>
                    <h4 class="card-text text-white" style="font-family: 'Atpinko', Arial, sans-serif; float: left;clear: both;"><img src="../../../assets/image/Conductores/S.P.avif" class="driver" alt="Sergio Perez"/>Perez</h4>
                    <h4 class="card-text text-white" style="font-family: 'Atpinko', Arial, sans-serif; float: right;" >Verstappen<img src="../../../assets/image/Conductores/M.V.avif" class="driver" alt="Max Verstappen"/></h4>
                </div>
            </div>
    </article>
        </div>
    </section>
</div>