<div class="container">
    <section>
        <h2 class="pt-3 text-center">CONDUCTORES</h2>
        <div class="row">
            @for (conductor of conductores; track $index) {
            <article class="col-xl-4 col-lg-4 mb-4">
                <div id="card1" class="card text-center bg-primary text-dark">
                    <h1 class=" name text-white" style="font-family: 'Atpinko_Bold', Arial, sans-serif">{{$index+1}}
                    </h1>
                    <img src="../../../assets/image/Conductores/{{conductor.piloto}}.avif" class="card-img-top"
                        alt="Piloto" />
                    <div class="card-body">
                        <h2 class="card-text text-white" style="font-family: 'Lment', Arial, sans-serif; float: left;"> {{conductor.numero}}</h2>
                        <h4 class="card-text text-white"
                            style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: right; ">{{conductor.puntos}}
                        </h4>
                        <h4 class="card-text text-white"
                            style="font-family: 'Atpinko', Arial, sans-serif; float: left; clear: both; ">
                            {{conductor.nombrePiloto}}
                        </h4>
                        <img style="float: right;"
                            src="../../../assets/image/banderasPilotos/{{conductor.bandera}}.avif" class="bandera"
                            alt="bandera" />
                    </div>
                </div>
            </article>
            }
        </div>
    </section>
</div>