<div class="container">
    <section>
        <h2 class="pt-3 text-center">CIRCUITOS</h2>
        <div class="row">
            @for (circuito of circuitos; track $index) {
            <article class="col-xl-4 col-lg-4 mb-4">
                <div id="card1" class="card text-center bg-primary text-dark">
                    <img src="../../../assets/image/Circuitos/{{circuito.circuito}}.avif" class="card-img-top"
                        alt="Circuitos" />
                    <div class="card-body">
                        <h4 class="card-text text-white"
                            style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: left;">{{circuito.fecha}}</h4>
                        <h4 class="card-text text-white"
                            style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: right; ">{{$index+1}}</h4>
                        <h4 class="card-text text-white"
                            style="font-family: 'Atpinko', Arial, sans-serif; float: left; clear: both; ">
                            {{circuito.nombre}}</h4>
                        <img style="float: right;"
                            src="../../../assets/image/banderasCircuitos/{{circuito.bandera}}.avif" class="bandera"
                            alt="bandera" />
                    </div>
                </div>
            </article>
            }
        </div>
    </section>
</div>