<div class="container">
    <section>
        <h2 class="pt-3 text-center">CIRCUITOS</h2>
        <div class="row">
            <article class="col-xl-4 col-lg-4 mb-4">
                <div id="card1" class="card text-center bg-primary text-dark">
                    <img src="../../../assets/image/Circuitos/Bahrain.avif" class="card-img-top" alt="Circuitos" />
                    <div class="card-body">
                        <h4 class="card-text text-white"
                            style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: left;">29-02 FEB-MAR</h4>
                        <h4 class="card-text text-white"
                            style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: right; ">1</h4>
                        <h4 class="card-text text-white"
                            style="font-family: 'Atpinko', Arial, sans-serif; float: left; clear: both; ">Bahrain</h4>
                        <img style="float: right;" src="../../../assets/image/banderasCircuitos/Bahrain.avif"
                            class="bandera" alt="bandera" />
                    </div>
                </div>
            </article>
            <article class="col-xl-4 col-lg-4 mb-4">
                <div id="card1" class="card text-center bg-primary text-dark">
                    <img src="../../../assets/image/Circuitos/Jeddah.png" class="card-img-top" alt="Circuitos" />
                    <div class="card-body">
                        <h4 class="card-text text-white"
                            style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: left;">07-09 MAR</h4>
                        <h4 class="card-text text-white"
                            style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: right; ">2</h4>
                        <h4 class="card-text text-white"
                            style="font-family: 'Atpinko', Arial, sans-serif; float: left; clear: both; ">Saudi Arabia
                        </h4>
                        <img style="float: right;" src="../../../assets/image/banderasCircuitos/Saudi_Arabia.avif"
                            class="bandera" alt="bandera" />
                    </div>
                </div>
            </article>
            <article class="col-xl-4 col-lg-4 mb-4">
                <div id="card1" class="card text-center bg-primary text-dark">
                    <img src="../../../assets/image/Circuitos/Melbourne.png" class="card-img-top" alt="Circuitos" />
                    <div class="card-body">
                        <h4 class="card-text text-white"
                            style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: left;">22-24 MAR</h4>
                        <h4 class="card-text text-white"
                            style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: right; ">3</h4>
                        <h4 class="card-text text-white"
                            style="font-family: 'Atpinko', Arial, sans-serif; float: left; clear: both; ">Australia</h4>
                        <img style="float: right;" src="../../../assets/image/banderasCircuitos/Australia.avif"
                            class="bandera" alt="bandera" />
                    </div>
                </div>
            </article>
        </div>
        <div class="row">
            <article class="col-xl-4 col-lg-4 mb-4">
                <div id="card1" class="card text-center bg-primary text-dark">
                    <img src="../../../assets/image/Circuitos/Suzuka.png" class="card-img-top" alt="Circuitos" />
                    <div class="card-body">
                        <h4 class="card-text text-white"
                            style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: left;">05-07 APR</h4>
                        <h4 class="card-text text-white"
                            style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: right; ">4</h4>
                        <h4 class="card-text text-white"
                            style="font-family: 'Atpinko', Arial, sans-serif; float: left; clear: both; ">Japan</h4>
                        <img style="float: right;" src="../../../assets/image/banderasCircuitos/Japan.avif"
                            class="bandera" alt="bandera" />
                    </div>
                </div>
            </article>
            <article class="col-xl-4 col-lg-4 mb-4">
                <div id="card1" class="card text-center bg-primary text-dark">
                    <img src="../../../assets/image/Circuitos/Shanghai.avif" class="card-img-top" alt="Circuitos" />
                    <div class="card-body">
                        <h4 class="card-text text-white"
                            style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: left;">19-21 APR</h4>
                        <h4 class="card-text text-white"
                            style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: right; ">5</h4>
                        <h4 class="card-text text-white"
                            style="font-family: 'Atpinko', Arial, sans-serif; float: left; clear: both; ">China</h4>
                        <img style="float: right;" src="../../../assets/image/banderasCircuitos/China.avif"
                            class="bandera" alt="bandera" />
                    </div>
                </div>
            </article>
            <article class="col-xl-4 col-lg-4 mb-4">
                <div id="card1" class="card text-center bg-primary text-dark">
                    <img src="../../../assets/image/Circuitos/Miami.png" class="card-img-top" alt="Circuitos" />
                    <div class="card-body">
                        <h4 class="card-text text-white"
                            style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: left;">03-05 MAY</h4>
                        <h4 class="card-text text-white"
                            style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: right; ">6</h4>
                        <h4 class="card-text text-white"
                            style="font-family: 'Atpinko', Arial, sans-serif; float: left; clear: both; ">Miami</h4>
                        <img style="float: right;" src="../../../assets/image/banderasCircuitos/United_States.avif"
                            class="bandera" alt="bandera" />
                    </div>
                </div>
            </article>
        </div>
        <div class="row">
            <article class="col-xl-4 col-lg-4 mb-4">
                <div id="card1" class="card text-center bg-primary text-dark">
                    <img src="../../../assets/image/Circuitos/Emilia-Romagna.avif" class="card-img-top"
                        alt="Circuitos" />
                    <div class="card-body">
                        <h4 class="card-text text-white"
                            style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: left;">17-19 MAY</h4>
                        <h4 class="card-text text-white"
                            style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: right; ">7</h4>
                        <h4 class="card-text text-white"
                            style="font-family: 'Atpinko', Arial, sans-serif; float: left; clear: both; ">Emilia-Romagna
                        </h4>
                        <img style="float: right;" src="../../../assets/image/banderasCircuitos/Italy.avif"
                            class="bandera" alt="bandera" />
                    </div>
                </div>
            </article>
            <article class="col-xl-4 col-lg-4 mb-4">
                <div id="card1" class="card text-center bg-primary text-dark">
                    <img src="../../../assets/image/Circuitos/Monaco.avif" class="card-img-top" alt="Circuitos" />
                    <div class="card-body">
                        <h4 class="card-text text-white"
                            style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: left;">24-26 MAY</h4>
                        <h4 class="card-text text-white"
                            style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: right; ">8</h4>
                        <h4 class="card-text text-white"
                            style="font-family: 'Atpinko', Arial, sans-serif; float: left; clear: both; ">Monaco</h4>
                        <img style="float: right;" src="../../../assets/image/banderasCircuitos/Monaco.avif"
                            class="bandera" alt="bandera" />
                    </div>
                </div>
            </article>
            <article class="col-xl-4 col-lg-4 mb-4">
                <div id="card1" class="card text-center bg-primary text-dark">
                    <img src="../../../assets/image/Circuitos/Canada.avif" class="card-img-top" alt="Circuitos" />
                    <div class="card-body">
                        <h4 class="card-text text-white"
                            style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: left;">07-09 JUN</h4>
                        <h4 class="card-text text-white"
                            style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: right; ">9</h4>
                        <h4 class="card-text text-white"
                            style="font-family: 'Atpinko', Arial, sans-serif; float: left; clear: both; ">Canada</h4>
                        <img style="float: right;" src="../../../assets/image/banderasCircuitos/Canada.avif" class="bandera" alt="bandera" />
                    </div>
                </div>
            </article>
        </div>
        <div class="row">
            <article class="col-xl-4 col-lg-4 mb-4">
                <div id="card1" class="card text-center bg-primary text-dark">
                    <img src="../../../assets/image/Circuitos/Spain.avif" class="card-img-top" alt="Circuitos" />
                    <div class="card-body">
                        <h4 class="card-text text-white" style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: left;">21-23 JUN</h4>
                        <h4 class="card-text text-white" style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: right; ">10</h4>
                        <h4 class="card-text text-white" style="font-family: 'Atpinko', Arial, sans-serif; float: left; clear: both; ">España </h4>
                        <img style="float: right;" src="../../../assets/image/banderasCircuitos/Spain.avif" class="bandera" alt="bandera" />
                    </div>
                </div>
            </article>
            <article class="col-xl-4 col-lg-4 mb-4">
                <div id="card1" class="card text-center bg-primary text-dark">
                    <img src="../../../assets/image/Circuitos/Austria.avif" class="card-img-top" alt="Circuitos" />
                    <div class="card-body">
                        <h4 class="card-text text-white" style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: left;">28-30 JUN</h4>
                        <h4 class="card-text text-white" style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: right; ">11</h4>
                        <h4 class="card-text text-white" style="font-family: 'Atpinko', Arial, sans-serif; float: left; clear: both; ">Austria</h4>
                        <img style="float: right;" src="../../../assets/image/banderasCircuitos/Austria.avif" class="bandera" alt="bandera" />
                    </div>
                </div>
            </article>
            <article class="col-xl-4 col-lg-4 mb-4">
                <div id="card1" class="card text-center bg-primary text-dark">
                    <img src="../../../assets/image/Circuitos/Great_Britain.avif" class="card-img-top" alt="Circuitos" />
                    <div class="card-body">
                        <h4 class="card-text text-white" style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: left;">05-07 JUL</h4>
                        <h4 class="card-text text-white" style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: right; ">12</h4>
                        <h4 class="card-text text-white" style="font-family: 'Atpinko', Arial, sans-serif; float: left; clear: both; ">Gran Bretaña</h4>
                        <img style="float: right;" src="../../../assets/image/banderasCircuitos/Great_Britian.avif" class="bandera" alt="bandera" />
                    </div>
                </div>
            </article>
        </div>
        <div class="row">
            <article class="col-xl-4 col-lg-4 mb-4">
                <div id="card1" class="card text-center bg-primary text-dark">
                    <img src="../../../assets/image/Circuitos/Hungary.avif" class="card-img-top" alt="Circuitos" />
                    <div class="card-body">
                        <h4 class="card-text text-white" style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: left;">19-21 JUL</h4>
                        <h4 class="card-text text-white" style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: right; ">13</h4>
                        <h4 class="card-text text-white" style="font-family: 'Atpinko', Arial, sans-serif; float: left; clear: both; ">Hungria </h4>
                        <img style="float: right;" src="../../../assets/image/banderasCircuitos/Hungry.avif" class="bandera" alt="bandera" />
                    </div>
                </div>
            </article>
            <article class="col-xl-4 col-lg-4 mb-4">
                <div id="card1" class="card text-center bg-primary text-dark">
                    <img src="../../../assets/image/Circuitos/Belgium.avif" class="card-img-top" alt="Circuitos" />
                    <div class="card-body">
                        <h4 class="card-text text-white" style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: left;">26-28 JUL</h4>
                        <h4 class="card-text text-white" style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: right; ">14</h4>
                        <h4 class="card-text text-white" style="font-family: 'Atpinko', Arial, sans-serif; float: left; clear: both; ">Belgica</h4>
                        <img style="float: right;" src="../../../assets/image/banderasCircuitos/Belgium.avif" class="bandera" alt="bandera" />
                    </div>
                </div>
            </article>
            <article class="col-xl-4 col-lg-4 mb-4">
                <div id="card1" class="card text-center bg-primary text-dark">
                    <img src="../../../assets/image/Circuitos/Netherlands.avif" class="card-img-top" alt="Circuitos" />
                    <div class="card-body">
                        <h4 class="card-text text-white" style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: left;">23-25 AUG</h4>
                        <h4 class="card-text text-white" style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: right; ">15</h4>
                        <h4 class="card-text text-white" style="font-family: 'Atpinko', Arial, sans-serif; float: left; clear: both; ">Paises Bajos</h4>
                        <img style="float: right;" src="../../../assets/image/banderasCircuitos/Netherlands.avif" class="bandera" alt="bandera" />
                    </div>
                </div>
            </article>
        </div>
        <div class="row">
            <article class="col-xl-4 col-lg-4 mb-4">
                <div id="card1" class="card text-center bg-primary text-dark">
                    <img src="../../../assets/image/Circuitos/Italy.avif" class="card-img-top" alt="Circuitos" />
                    <div class="card-body">
                        <h4 class="card-text text-white" style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: left;">30-01 AUG-SEP</h4>
                        <h4 class="card-text text-white" style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: right; ">16</h4>
                        <h4 class="card-text text-white" style="font-family: 'Atpinko', Arial, sans-serif; float: left; clear: both; ">Italia </h4>
                        <img style="float: right;" src="../../../assets/image/banderasCircuitos/Italy.avif" class="bandera" alt="bandera" />
                    </div>
                </div>
            </article>
            <article class="col-xl-4 col-lg-4 mb-4">
                <div id="card1" class="card text-center bg-primary text-dark">
                    <img src="../../../assets/image/Circuitos/Azerbaijan.avif" class="card-img-top" alt="Circuitos" />
                    <div class="card-body">
                        <h4 class="card-text text-white" style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: left;">13-15 SEP</h4>
                        <h4 class="card-text text-white" style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: right; ">17</h4>
                        <h4 class="card-text text-white" style="font-family: 'Atpinko', Arial, sans-serif; float: left; clear: both; ">Azerbaijan</h4>
                        <img style="float: right;" src="../../../assets/image/banderasCircuitos/Azerbaijan.avif" class="bandera" alt="bandera" />
                    </div>
                </div>
            </article>
            <article class="col-xl-4 col-lg-4 mb-4">
                <div id="card1" class="card text-center bg-primary text-dark">
                    <img src="../../../assets/image/Circuitos/Singapore.avif" class="card-img-top" alt="Circuitos" />
                    <div class="card-body">
                        <h4 class="card-text text-white" style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: left;">20-22 SEP</h4>
                        <h4 class="card-text text-white" style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: right; ">18</h4>
                        <h4 class="card-text text-white" style="font-family: 'Atpinko', Arial, sans-serif; float: left; clear: both; ">Singapur</h4>
                        <img style="float: right;" src="../../../assets/image/banderasCircuitos/Singapore.avif" class="bandera" alt="bandera" />
                    </div>
                </div>
            </article>
        </div>
        <div class="row">
            <article class="col-xl-4 col-lg-4 mb-4">
                <div id="card1" class="card text-center bg-primary text-dark">
                    <img src="../../../assets/image/Circuitos/United_States.avif" class="card-img-top" alt="Circuitos" />
                    <div class="card-body">
                        <h4 class="card-text text-white" style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: left;">18-20 OCT</h4>
                        <h4 class="card-text text-white" style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: right; ">19</h4>
                        <h4 class="card-text text-white" style="font-family: 'Atpinko', Arial, sans-serif; float: left; clear: both; ">Estados Unidos</h4>
                        <img style="float: right;" src="../../../assets/image/banderasCircuitos/United_States.avif" class="bandera" alt="bandera" />
                    </div>
                </div>
            </article>
            <article class="col-xl-4 col-lg-4 mb-4">
                <div id="card1" class="card text-center bg-primary text-dark">
                    <img src="../../../assets/image/Circuitos/Mexico.avif" class="card-img-top" alt="Circuitos" />
                    <div class="card-body">
                        <h4 class="card-text text-white" style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: left;">25-27 OCT</h4>
                        <h4 class="card-text text-white" style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: right; ">20</h4>
                        <h4 class="card-text text-white" style="font-family: 'Atpinko', Arial, sans-serif; float: left; clear: both; ">Mexico</h4>
                        <img style="float: right;" src="../../../assets/image/banderasCircuitos/Mexico.avif" class="bandera" alt="bandera" />
                    </div>
                </div>
            </article>
            <article class="col-xl-4 col-lg-4 mb-4">
                <div id="card1" class="card text-center bg-primary text-dark">
                    <img src="../../../assets/image/Circuitos/Brazil.avif" class="card-img-top" alt="Circuitos" />
                    <div class="card-body">
                        <h4 class="card-text text-white" style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: left;">01-03 NOV</h4>
                        <h4 class="card-text text-white" style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: right; ">21</h4>
                        <h4 class="card-text text-white" style="font-family: 'Atpinko', Arial, sans-serif; float: left; clear: both; ">Brasil</h4>
                        <img style="float: right;" src="../../../assets/image/banderasCircuitos/Brazil.avif" class="bandera" alt="bandera" />
                    </div>
                </div>
            </article>
        </div>
        <div class="row">
            <article class="col-xl-4 col-lg-4 mb-4">
                <div id="card1" class="card text-center bg-primary text-dark">
                    <img src="../../../assets/image/Circuitos/Las_Vegas.avif" class="card-img-top" alt="Circuitos" />
                    <div class="card-body">
                        <h4 class="card-text text-white" style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: left;">21-23 NOV</h4>
                        <h4 class="card-text text-white" style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: right; ">22</h4>
                        <h4 class="card-text text-white" style="font-family: 'Atpinko', Arial, sans-serif; float: left; clear: both; ">Las Vegas</h4>
                        <img style="float: right;" src="../../../assets/image/banderasCircuitos/United_States.avif" class="bandera" alt="bandera" />
                    </div>
                </div>
            </article>
            <article class="col-xl-4 col-lg-4 mb-4">
                <div id="card1" class="card text-center bg-primary text-dark">
                    <img src="../../../assets/image/Circuitos/Qatar.avif" class="card-img-top" alt="Circuitos" />
                    <div class="card-body">
                        <h4 class="card-text text-white" style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: left;">29-01 NOV-DEC</h4>
                        <h4 class="card-text text-white" style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: right; ">23</h4>
                        <h4 class="card-text text-white" style="font-family: 'Atpinko', Arial, sans-serif; float: left; clear: both; ">Qatar</h4>
                        <img style="float: right;" src="../../../assets/image/banderasCircuitos/Qatar.avif" class="bandera" alt="bandera" />
                    </div>
                </div>
            </article>
            <article class="col-xl-4 col-lg-4 mb-4">
                <div id="card1" class="card text-center bg-primary text-dark">
                    <img src="../../../assets/image/Circuitos/Abu_Dhabi.avif" class="card-img-top" alt="Circuitos" />
                    <div class="card-body">
                        <h4 class="card-text text-white" style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: left;">06-08 DEC</h4>
                        <h4 class="card-text text-white" style="font-family: 'Atpinko_Bold', Arial, sans-serif; float: right; ">24</h4>
                        <h4 class="card-text text-white" style="font-family: 'Atpinko', Arial, sans-serif; float: left; clear: both; ">Abu Dhabi</h4>
                        <img style="float: right;" src="../../../assets/image/banderasCircuitos/Abu_Dhabi.avif" class="bandera" alt="bandera" />
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>